body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('bg.jpg') no-repeat center center/cover;
  }
  
  .form-container {
    border: 1px solid #ccc; /* Рамка */
    padding: 50px;
    border-radius: 10px; /* Скругление углов */
    background-color: #fff; /* Цвет фона формы */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Тень */
    width: 300px; /* Ширина формы */
  }
  
  label {
    display: block; /* Каждое поле на новой строке */
    margin: 10px 0 5px; /* Отступы вокруг меток */
  }
  
  input, textarea {
    width: 100%; /* Полная ширина полей */
    padding: 10px; /* Отступы внутри полей */
    border: 1px solid #ccc; /* Рамка полей */
    border-radius: 5px; /* Скругление углов полей */
  }
  
  button {
    margin-top: 10px; /* Отступ сверху для кнопки */
    padding: 10px;
    background-color: #28a745; /* Цвет кнопки */
    color: white; /* Цвет текста кнопки */
    border: none; /* Без рамки */
    border-radius: 5px; /* Скругление углов кнопки */
    cursor: pointer; /* Указатель при наведении */
  }
  
  button:hover {
    background-color: #218838; /* Цвет кнопки при наведении */
  }